:root {
  background-color: gainsboro;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.menu-list {
  width: 100%;
  display: flex;
}
.menu-list-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-list-item:hover {
  background-color: sienna;
}
.form-item {
  position: fixed;
  bottom: 500px;
  left: 10px;
}
select {
  appearance: none;
  border-color: black;
  border-radius: 8px;
  background: url(ok.png) no-repeat right;
  background-size: 30px;
  height: 40px;
  padding: 0 10px;
  width: 70px;
  cursor: pointer;
}
select:hover {
  border-color: white;
}
.form-item1 {
  position: fixed;
  bottom: 430px;
  left: 30px;
}
input[type="checkbox"] {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  position: relative;
}
input[type="checkbox"]:hover {
  border-color: white;
}
input[type="checkbox"]::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(done.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  opacity: 0;
  transition: 0.5s all;
}
input[type="checkbox"]:checked {
  border-color: green;
}
input[type="checkbox"]:checked::before {
  opacity: 1;
}
.form-item2 {
  position: fixed;
  bottom: 380px;
  left: 35px;
}
input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: 0.25s all;
  outline: none;
}
input[type="radio"]::before {
  content: "";
  width: 13px;
  height: 13px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  border-radius: 50%;
  opacity: 0;
  transition: 0.25s all;
}
input[type="radio"]:hover {
  border-color: white;
}
input[type="radio"]:focus {
  border-color: black;
}
input[type="radio"]:checked::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
input[type="radio"]:checked {
  border-color: green;
}
.text {
  margin: 90px;
}
.text:valid {
  border-color: green;
}
.link:active {
  background-color: brown;
}
.number:in-range {
  background-color: olivedrab;
  color: white;
}
.number:out-of-range {
  background-color: darkred;
  color: white;
}
